*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
header{
    width: 100%;
    background-image: url(about-images/about\ image.png);
    background-size: cover;
    background-position: bottom;
}
.headermain{
    padding: 50px 30px 0 30px;
    height: 235px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
.text{
    margin: 0;
    font-size: 75px;
    font-weight: 500;
}
.get{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;    
}
.s1{
    margin-top: 60px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.s1main{
    width: 480px;
}
.s1head{
    font-family: "Poppins";
    font-size: 43px;
    font-weight: 300;
    line-height: 57px;
    letter-spacing: 0px;
    color: #98002E;    
}
.s1text{
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0px;
    color: #454545;
}
.s1text span{
    font-weight: 700;
}
.s2, .s4{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: 90px 10px;
}
.s2head{
    color: #98002E;
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 500;
    line-height: 0;
    letter-spacing: 0px;
    text-align: left;
}
.s2text{
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    color: #454545;    
    width: 1140px;
    text-align: center;
}
.s3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 10px;
}
.s3text{
    width: 350px;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: #454545;
}

@media screen and (max-width:1180px){
    .s1{
        gap: 30px;
    }
    .s2text, .pi{
        width: 1000px;
    }
    .s4, .s2{
        margin: 50px 0;
    }
    .s1head, .s1text{
        line-height: normal;
        margin: 0;
    }
    .s3text, .s3 img{
        width: 280px;
    }
}
@media screen and (max-width:1080px) {  
    .s2text, .pi{
        width: 900px;
    }
    .s1 img{
        height: 300px;
    }
    .s1main{
        width: 350px;
    }
}
@media screen and (max-width:900px) {
    .s2text, .pi{
        width: 800px;
    }
    .s1main{
        width: 250px;
    }
}
@media screen and (max-width:800px) {
    .s2text, .pi{
        width: 700px;
    }
}
@media screen and (max-width:750px) {
    .s1{
        flex-direction: column;
    }
    .s1main{
        width: 500px;
    }
    .s1 img{
        width: 600px;
    }
}
@media screen and (max-width:700px) {
    .s2text, .pi{
        width: 595px;
    }
}
@media screen and (max-width:605px) {
    .s2text, .pi, .s1 img, .s1main{
        max-width: 500px;
    }
}
@media screen and (max-width:500px) {
    .s2text, .pi, .s1 img, .s1main{
        max-width: 400px;
    }
}
@media screen and (max-width:400px) {
    .s2text, .pi, .s1 img, .s1main{
        max-width: 300px;
        height: auto;
    }
}
@media screen and (max-width:300px) {
    .s2text, .pi, .s1 img, .s1main{
        max-width: 280px;
    }
}
@media screen and (max-width:920px){
    .text{
        font-size: 50px;
    }
    .headermain{
        padding: 80px 10px 0 10px;
        gap: 10px;
    }
    nav{
        padding: 15px;
    }
}
@media screen and (max-width:740px) {
    .s3text{
        width: 600px;
        text-align: center;
        margin: 0 20px;
    }
}
@media screen and (max-width:620px) {
    .s4{
        margin: 25px 10px;
    }
    .s1, .s3{
        gap: 15px;
    }
    .s1main{
        width: auto;
        margin: 0 20px;
    }
}
@media screen and (max-width:460px) {
    .headermain{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0;
        padding: 100px 10px 0 10px;
    }
    .text{
        font-size: 40px;
    }
    .s1text, .s2text,.s3text{
        font-size: 20px;
        line-height: normal;
    }
}
@media screen and (max-width:380px) {
    .pics{
        width: 290px;
    }
}