*{
    box-sizing: border-box;
}
header{
    width: 100%;
    background-image: url(https://s3-alpha-sig.figma.com/img/e2ed/9b66/da2c21f3b3bcc83c5ec95fc2508b2a43?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oJ1~ncndCbldzpYeSq88V1TEyK-KT0EMlnq8oi4faHnb-cTCUW2OOrDLbjYMGsmGrIS-nK~dq-h8fPX6HBxgBnWSp-cWa54WoIoZRFlcJmAgQzxPidb2qNditvhaFTn0iqpzPuBApPSCvhNHgxeCE2C9zFdwRf1oAlrF~JoPlKspIAWOhE1NsP1mxr0Vzmxxs3dWF2dF2Eu3nTYA33poyHmTIOqc4bo7hkW6PEPIuKRsF0VG5NMSFu1SUA-RO6McgPH9hjO0Bz1tkrYYcaMs-SM2JxXCD-~tVV0VvUqhIL7L6Z8COUnxb-am-sIa7Y6OvEnQyd4l5dKvS5vnWh8rIg__);
    background-size: cover;
    background-position: center;
}
.headermain{
    padding: 70px 30px 0 30px;
    height: 235px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
.text{
    font-size: 75px;
    font-weight: 500;
}
.get{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;    
}
.s1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 10px 100px 10px;
    gap: 30px;
}
.smain{
    width: 565px;
}
.s1head{
    font-family: "Poppins";
    font-size: 43px;
    font-weight: 300;
    line-height: 57px;
    letter-spacing: 0px;
    text-align: center;    
    color: #98002E;
}
.s1text{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    margin: 0;
    text-align: center;
    color: #454545;    
}
.s2, .s21{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.s2head{
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;    
    color: #98002E;
}
.s2text{
    color: #454545;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}
.s3{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 220px 50px 220px;
    text-align: center;
}
.s3head span{
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    color: #98002E;
}
.s3head{
    color: #98002E;
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 500;
    line-height: 38px;
}
.s3text{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.s4top{
    color: #454545;
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;    
}
.s4main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
}
.s4child{
    width: 530px;
}
.s4head{
    color: #98002E;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}
.s4head span{
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 500;
    line-height: 29px;
}
.s4text{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.s5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    position: relative;
}
.s5main{
    position: absolute;
    top: 47%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s5head{
    width: max-content;
    font-family: "Poppins";
    font-size: 72px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
    color: white;    
}
.s5 button{
    width: 272px;
    height: 46px;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;   
    color: #98002E; 
}
.backpic{
    position: relative;
}
.pi{
    position: relative;
}

@media screen and (max-width:1180px) {
    .s2, .s1, .s21{
        margin-bottom: 40px;
    }
    .pi{
        height: 300px;
    }
    .s4main{
        gap: 30px;
    }
    .backpic{
        max-width: 800px;
    }
    .s5head{
        font-size: 60px;
    }
    .s5main{
        top: 38%;
    }
    .s3{
        margin: 0 100px 50px 100px;
    }
}
@media screen and (max-width:1111px) {
    .pi{
        height: 200px;
    }
    .s4child img, .s4child{
        width: 460px;
    }
}
@media screen and (max-width:990px) {
    .smain{
        width: 450px;
    }
    .s4child img, .s4child{
        width: 360px;
    }
}
@media screen and (max-width:920px) {
    .text{
        font-size: 50px;
    }
    .headermain{
        padding: 80px 10px 0 10px;
        gap: 10px;
    }
    nav{
        padding: 15px;
    }
}
@media screen and (max-width:820px) {
    .smain{
        width: 380px;
    }
    .s4child img, .s4child{
        width: 340px;
    }
    .backpic{
        max-width: 700px;
    }
    .s5head{
        font-size: 40px;
        line-height: normal;
        margin: 8px;
    }
    .s5main{
        top: 38%;
    }
    .s3{
        margin: 0 70px 50px 70px;
    }
}
@media screen and (max-width:740px) {
    .s1,.s2,.s4main{
        flex-direction: column;
    }
    .s21{
        flex-direction: column-reverse;
    }
    .smain, .s2text,.s4child{
        width: auto;
        padding: 0 10px;
        text-align: center;
    }
    .pi{
        height: auto;
        margin-bottom: 20px;
    }
    .s4child img{
        width: auto;
    }
    .backpic{
        width: 540px;
    }
}
@media screen and (max-width:580px) {
    .s1, .s3, .s5{
        /* margin: 0; */
    }
    .smain, .pi, .s4child, .backpic, .s4child img{
        width: 400px;
    }
    .s1text, .s4top, .s4head, .s3head{
        line-height: normal;
        margin: 0;
    }
    .s4main{
        gap: 20px;
    }
    .s5head, .s3head{
        font-size: 28px;
    }
    .s5 button{
        font-size: 14px;
        width: 200px;
    }
    .s5main{
        top: 38%;
    }
    .s3{
        margin: 0 50px 30px 50px;
    }
}
@media screen and (max-width:460px) {
    .headermain{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0;
        padding: 100px 10px 0 10px;
    }
    .text{
        font-size: 40px;
    }
}
@media screen and (max-width:410px) {
    .smain, .pi, .s4child, .backpic, .s4child img{
        max-width: 280px;
    }
    .s5head{
        font-size: 24px;
    }
    .s3{
        margin: 0 20px 50px 20px;
    }
    .s4main{
        margin: 20px 0;
    }
}