*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
header{
    position: relative;
    width: 100%;
    background-image: url(https://www.figma.com/file/myxZlnhTBirDGWW74C6Gsd/image/47923ca0670d5c0a3c78ae1a409e6e08f53b3017);
    background-size: cover;
    background-position: center;
}
nav{
    width: auto;
    height: auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 220px;
}
.headermain{
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 30px;
}
.text{
    color: white;
    font-family: "Poppins";
    font-size: 56px;
    font-weight: 100;
    letter-spacing: 0px;
    text-align: center;  
    margin: 0 5px;  
}
.headermain button{
    text-align: center;
    width: 146px;
    height: 46px;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
}
.get{
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;    
}
.downarrow{
    color: white;
}
.primary button, .secondary button, .primaryh button{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid transparent;
    cursor: pointer;
}
.button, .buttonh{
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
.primary, .secondary, .primaryh{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.secondarytext, .secondarytexth{
    color: white;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
}
#hamburger{
    position: relative;
    display: none;
    cursor: pointer;
}
#secbutton, #secbuttonh{
    width: 97px;
    height: 29px;
    padding: 4px 20px;
    border-radius: 50px;
    border: 1px solid white; 
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-style: normal;
}
#secbutton:hover, #secbuttonh:hover{
    background-color: white;
    color: #98002E;
    text-decoration: none;
}
.heading1, .text4head{
    margin: 0;
    color: #454545;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 300;
    line-height: 38.4px;
    letter-spacing: 0px;
    text-align: center;
}
.text1{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #454545;
}
.sec1main{
    width: 573px;
}
.sec1main, .sec9main, .flex{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 120px;
    gap: 100px;
}
.pic{
    position: absolute;
    bottom: -6.4rem;
    left: -1.2rem;
}
.section2, .section5{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.box2{
    display: flex;
    gap: 30px;
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section3, .sec4text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec3text{
    margin: 15px 5px;
    color: #454545;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: center;
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    height: 304px;
}
.text4text{
    color: #454545;
    width: 573px;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;   
}
.section4 button{
    background-color: #98002E;
    width: 130px;
    height: 46px;
    border-radius: 50px;
    border: 1px solid transparent;    
}
.chat{
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 0px;
    text-align: center;
}
.buyers, .sellers{
    position: relative;
}
.picflex{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    left: 50%;
    right: 50%;
}
.flextext{
    color: white;
    font-family: "Poppins";
    font-size: 72px;
    font-weight: 275;
    line-height: 0;
    letter-spacing: 0px;
    text-align: center;    
}
.picflex button{
    width: 173px;
    height: 46px;
    border-radius: 50px;
    border: solid transparent;
    color: #98002E;
    background-color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center; 
    cursor: pointer;    
}
.section6, .sec6pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 10px;
}
.sec6text{
    font-family: "Poppins";
    width: 811px;
    font-size: 62px;
    font-weight: 100;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: center;
    margin: 100px 0 30px 0;
}
.sec6flex{
    display: flex;
    gap: 30px;
}
.play,.play1{
    position: absolute;
    bottom: 50%;
    top: 50%;
    right: 50%;
    left: 50%;
}
.sec7text{
    color: #454545;
    font-family: "Poppins";
    font-size: 42px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
}
.section7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 120px 0 100px 0;
}
.section8, .section9{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-bottom: 100px;
}
.absolutetext{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
    color: white; 

}
.pics{
    position: relative;
}
.sec8head{
    color: #98002E;
    width: 300px;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
}
.sec8text{
    color: #454545;
    width: 300px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
.sec9head{
    padding: 0 10px;
    color: #98002E;
    font-family: "Poppins";
    font-size: 46px;
    font-weight: 500;
    line-height: 67.2px;
    margin: 0;
    letter-spacing: 0px;
    text-align: center;    
}
.sec9subhead{
    color: #454545;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;    
}
.sec9text{
    width: 535px;
    color: #454545;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;    
}
.section10{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec10main{
    width: 610px;
    text-align: center;
    padding: 70px 5px;
    background: linear-gradient(97.3deg, #7A0025 0%, #AE002A 100%);
    color: white;
}
.sec10text span{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
}
.sec10text{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}
.sec10head{
    font-family: "Poppins";
    font-size: 56px;
    font-weight: 300;
    line-height: 67.2px;
    margin: 0;
    letter-spacing: 0px;
    text-align: center;    
}
.flex img{
    width: 267.5px;
    height: 250px;
}
.sec10main button{
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid white;    
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    background-color: transparent;
    color: white;
}
.section11{
    margin: 100px 20px;
}
.sec11main{
    margin-bottom: 60px;
    color: #98002E;
    font-family: "Poppins";
    font-size: 51px;
    font-weight: 300;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: center;    
}
.sec11{
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.sec11head{
    color: #98002E;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;    
}
.sec11date{
    margin: 0;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #6C757D;    
}
.sec11text{
    width: 227px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #454545;    
}
.section12{
    margin: 0 30px 100px 30px;
    padding: 100px 10px;
    color: white;
    background: linear-gradient(96.32deg, #810027 6.78%, #AD002A 100.01%);
}
.sec12head{
    font-family: "Poppins";
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: center;    
}
.sec12text span{
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
}
.sec12text{
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
}
.sec12flex{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.sec12flex button{
    border-radius: 50px;
    border: 1px solid white; 
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;   
    color: white; 
    background-color: transparent;
    padding: 8px 16px;
    height: 46px;
}
.sec12flex input{
    width: 400px;
    height: 46px;
    padding: 15px 25px;
    border-radius: 100px;
    border: transparent;
    font-family: "Poppins";
    font-size: 19px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    color: #6C757D;    
}
.section13{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 50px;
    margin-bottom: 80px;
}
.sec13main{
    text-align: left;
    margin: 0 10px;
}
.sec13head{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0px;
    color: #98002E;    
}
.sec13text{
    cursor: pointer;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    color: #454545;
}
.section14{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    padding: 10px 0;
    gap: 100px;
}
.sec14main{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.sec14option{
    width: 440px;
    padding: 20px;
}
.videopic, .videopic1{
    position: relative;
}
.sec14date{
    color: #6C757D;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;    
}
.sec14bottom{
    color: #98002E;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: right;    
}
.review{
    display: grid;
    width: 400px;
    height: 151px;
    gap: 15px;    
}
.input{
    width: 400px;
    height: 100px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.input input{
    border: none;
    height: 29px;
    color: #6C757D;
    font-family: "Poppins";
    font-size: 19px;
}
.review button{
    cursor: pointer;
    color: #343A40;
    width: 160px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;    
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.section15{
    margin: 80px 0;
    width: 422px;
    height: 235px;
    background: linear-gradient(180deg, #98002E 22.4%, #7B0025 100%);    
}
.sec15text{
    text-align: center;
    color: white;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin: 36px 10px 20px 10px;
}
.section16{
    display: flex;
    gap: 100px;
    margin: 80px 0;
}
.sec16text{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    color: #454545;    
}
.sec16no{
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    color: #98002E;    
}
.sec16email{
    display: grid;
    gap: 30px;
}
.email{
    color: #454545;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;    
}
.social{
    display: flex;
    gap: 40px;
}
.bottom{
    margin: 0 10px;
    display: flex;
    gap: 60px;
}
.bottomchild{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.bottomtext{
    cursor: pointer;
    color: #454545;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;    
}
.reverse{
    display: flex;
    flex-direction: column;
}
.primaryh{
    display: none;
    position: absolute;
    right: 0;
    top: 45px;
    gap: 20px;
}
.secondarytexth, .buttonh{
    line-height: normal;
    margin: 0px;
}

@media screen and (max-width: 1270px) {
    .section1{
        gap: 60px;
        padding: 70px 50px;
    }
    .sec10main{
        width: 460px;
        height: 460px;
    }
    .section9{
        gap: 50px;
    }
    .flex{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:1230px) {
    .box2 img {
        width: 210px;
        height: 210px;
    }
    .buyers,.sellers{
        width: 500px;
        height: 500px;
    }
    .section4{
        height: 240px;
    }
    .section2,.section5{
        /* flex-direction: column; */
        margin: 0 5px;
    }
    .primary, .secondary{
        gap: 10px;
    }
    .sec6text{
        line-height: normal;
        margin-top: 30px;
        width: 780px;
    }
    .videopic{
        max-width: 500px;
    }
    .videopic1{
        max-width: 1030px;
    }
    .section7{
        margin: 80px 0 60px 0;
    }
    .section8{
        gap: 70px;
    }
    .section9{
        gap: 30px;
        margin: 0 30px 100px 30px;
    }
    .sec9text{
        width: auto;
    }
    .pics{
        max-width: 542px;
    }
    .play{
        top: 42%;
        left: 45%;
    }
    .play1{
        top: 40%;
        left: 45%;
    }
}
@media screen and (max-width:1160px) {
    .primary{
        display: none;
    }
    .secondary{
        gap: 50px;
    }
    .secondarytexth, #secbuttonh{
        display: none;
    }
    #hamburger{
        display: contents;
        color: white;
    }
    #hamburger:hover .primaryh{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        padding-top: 10px;
        background-color: #6C757D;
        box-shadow: 0 0 20px 5px rgb(47, 47, 47);
    }
    .buttonh:hover, .secondarytexth:hover{
        color: lightgray;
    }
}
@media screen and (max-width:1070px) {
    .section1{
        gap: 30px;
    }
    .section14{
        gap: 40px;
    }
    .sec14main{
        gap: 5px;
    }
    .pic{
        display: none;
    }
    .buyers, .sellers{
        width: 462px;
        height: 400px;
    }
    .section8{
        gap: 30px;
    }
    .videopic{
        width: 464px;
    }
    .videopic1{
        width: 955px;
    }
    .box4, .box2, .section2{
        gap: 10px;
    }
    .pics{
        max-width: 510px;
    }
}
@media screen and (max-width:990px) {
    .section13{
        gap: 20px;
    }
    .box2 img{
        width: 150px;
        height: 150px;
    }
    .pics{
        width: 376px;
    }
    .section8 img, .sec8text, .sec8head{
        width: 200px;
    }
    .buyers, .sellers{
        width: 332px;
        height: 350px;
    }
    .videopic{
        width: 335px;
    }
    .videopic1,.sec3text{
        width: 700px;
    }
    .section4{
        gap: 10px;
    }
}
@media screen and (max-width:810px) {
    .sec9text{
        width: 600px;
    }
}
@media screen and (max-width:940px) {
    .section10{
        flex-direction: column;
        gap: 20px;
    }
    .sec10main{
        width: 790px;
        height: 450px;
    }
    .section14{
        flex-direction: column;
        gap: 0;
    }
    .review{
        margin-bottom: 30px;
    }
    .section16{
        flex-direction: column;
        gap: 5px;
        margin: 50px 0;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    footer{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:880px) {
    .section1{
        flex-direction: column;
    }
    .flextext{
        font-size: 50px;
    }
    .play{
        top: 40%;
        left: 40%;
    }
    .section4{
        gap: 30px;
    }
    .section15{
        width: 90%;
    }
}
@media screen and (max-width:810px) {
    .sec10main{
        width: 600px;
    }
    .section9{
        flex-direction: column;
    }
    .section4{
        flex-direction: column;
        gap: 0;
    }
    .section7{
        display: none;
    }
    .section9{
        gap: 60px;
        margin: 30px 10px;
    }
    .secondary{
        gap: 20px;
    }
    .sec6text{
        font-size: 40px;
        width: auto;
    }
    .section1{
        padding: 50px 30px;
    }
    .heading1{
        line-height: normal;
        margin: 0;
    }
    .section15{
        margin: 50px 0;
    }
}
@media screen and (max-width:712px) {
    .section13{
        gap: 0;
    }
    .section2{
        flex-direction: column;
    }
    .section8{
        gap: 20px;
    }
    .box2 img, .pics{
        width: auto;
        height: auto;
    }
    .buyers, .sellers, .videopic1, .text4text,.sec6text, .videopic, .sec3text{
        width: 500px;
        height: auto;
    }
    .sec6flex{
        flex-direction: column;
    }
    .section5{
        flex-direction: column;
    }
    .play1{
        left: 41%;
        top: 32%;
    }
}
@media screen and (max-width:685px) {
    .flex img,.sec11text{
        width: auto;
        height: auto;
    }
    .section13{
        justify-content: left;
        margin: 50px 20px;
        gap: 80px;
    }
    .primaryh{
        top: 50px;
        gap: 12px;
    }
    .text{
        font-size: 40px;
    }
    .sec13text{
        line-height: normal;
        margin: 10px 0;
    }
    .sec13head{
        line-height: normal;
        margin: 20px 0;
    }
    .sec11head{
        margin-bottom: 3px;
    }
    .flex{
        margin-bottom: 25px;
    }
}
@media screen and (max-width:660px) {
    .section8{
        flex-direction: column;
    }
    .section8 div{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .section8 .reverse{
        flex-direction: column-reverse;
    }
    .sec8text{
        width: 500px;
    }
    .sec8head{
        width: 500px;
        margin-top: 40px;
        margin-bottom: -10px;
    }
    .section8 img{
        width: 500px;
        height: 350px;
    }
    .section5{
        gap: 5px;
    }
    .sec3text{
        line-height: normal;
    }
    .section1{
        gap: 20px;
        padding: 40px 20px;
    }
    .section4{
        height: 250px;
    }
    .sec12text, .sec12text span{
        font-size: x-large;
        line-height: normal;
    }
    .picflex button{
        height: auto;
        width: 140px;
        font-size: medium;
    }
    .section5{
        margin-bottom: 0;
    }
    .section12{
        padding: 50px 15px;
    }
    .sec12flex{
        flex-direction: column;
    }
    .sec12head{
        font-size: 34px;
        line-height: normal;
    }
    .secondary{
        gap: 10px;
    }
    .sec9head{
        font-size: 34px;
    }
    .sec9subhead{
        font-size: larger;
    }
    .sec9text{
        font-size: medium;
    }
    .sec6flex, .sec6pic{
        gap: 25px;
    }
}
@media screen and (max-width:630px) {
    .sec10main,.sec9text{
        max-width: 500px;
    }
    .sec10head{
        font-size: 34px;
    }
    .sec10text{
        font-size: larger;
        line-height: normal;
        padding: 0 17px;
    }
    .sec1main{
        width: auto;
    }
    .section11{
        margin: 50px 20px;
    }
    .sec11main{
        font-size: 40px;
        line-height: normal;
        margin-bottom: 10px;
    }
    .section5{
        flex-direction: column;
    }
    nav{
        padding: 10px 20px;
    }
    .text4text{
        width: auto;
    }
    .text4head{
        line-height: normal;
        margin: 0;
    }
    .section4{
        height: auto;
        margin: 30px 10px;
    }
    .headermain{
        height: 400px;
    }
}
@media screen and (max-width:570px) {
    .section13{
        gap: 50px;
    }
}
@media screen and (max-width:560px) {
    .headermain{
        height: 300px;
    }
    .secondary{
        display: none;
    }
    .secondarytexth, #secbuttonh{
        display: contents;
    }
    nav{
        padding: 15px 30px;
    }
    .sec3text{
        font-size: 24px;
    }
    .sec9text,.heading1{
        width: auto;
        line-height: normal;
    }
    .logoimage{
        max-width: 290px;
    }
    .sec10main{
        width: 400px;
        height: auto;
        padding: 50px 0;
    }
    .sec11{
        gap: 50px;
    }
    .sec11text, .sec11head{
        margin: 8px 0 0 0;
    }
    .flex img{
        width: 400px;
    }
    .box2 img{
        height: 200px;
    }
    .buyers, .sellers, .sec4text,.section8 img,.sec9text{
        width: 420px;
    }
    .sec3text, .sec6text{
        width: auto;
    }
    .pics{
        height: 344px;
    }
    .videopic,.videopic1{
        width: 430px;
    }
    .sec6pic{
        gap: 10px;
    }
    .sec6flex{
        gap: 20px;
    }
    .sec8text, .sec8head{
        width: 380px;
    }
}
@media screen and (max-width:548px) {
    .sec14option{
        width: auto;
    }
    .section16{
        margin: 20px 0;
        max-width: 290px;
    }
    .sec12flex input{
        width: 250px;
    }
    .section13{
        gap: 20px;
    }
    .section12{
        margin: 30px 10px;
    }
}
@media screen and (max-width:480px) {
    .input,.review{
        max-width: 290px;
    }
    .logo{
        width: 170px;
    }
}
@media screen and (max-width:440px) {
    .pics{
        height: 243px;
    }
    .box2 img{
        height: 140px;
    }
    .buyers,.sellers, .videopic, .videopic1, .sec9text,.sec4text{
        width: 295px;
    }
    .play{
        top: 32%;
        left: 38%;
    }
    .play1{
        left: 38%;
        top: 19%;
    }
}
@media screen and (max-width:420px) {
    
    .sec6flex{
        flex-direction: column;
    }
    .buyers, .sellers{
        height: 230px;
    }
    .section8 img,.sec8text, .sec8head{
        width: 290px;
        margin: 5px 0 0 0;
    }
    .sec10main{
        width: 290px;
    }
    .sec10head{
        font-size: 30px;
    }
    .flex img{
        padding: 0;
        width: 290px;
    }
    .play{
        top: 31%;
        left: 37%;
    }
    .play1{
        top: 11%;
        left: 37%;
    }
}
@media screen and (max-width:390px) {
    nav{
        padding: 15px;
    }
    .text{
        font-size: 35px;
    }
    .social{
        gap: 20px;
        justify-content: center;
    }
    .sec16no{
        font-size: 30px;
    }
    .email{
        font-size: 14px;
    }
    .bottomchild{
        flex-direction: column;
        gap: 0;
    }
    .bottomtext{
        margin: 5px;
    }
    .sec16email{
        gap: 10px;
    }
    .sec12flex input{
        width: 210px;
        padding: 10px 15px;
    }
}
@media screen and (max-width:360px) {
    .section15{
        height: 270px;
    }
}